{% extends "home/master.html" %}
{% load static %}

{% block navbar %} 
    {% include 'home/includes/Navbar.html' %}
{% endblock %}

{% block menu-inner %} 
    {% include 'home/includes/left_menu.html' %}
{% endblock %}

{% block content %}
<div class="page-dichvu py-4 bg-light">
    <div class="container">
        <h2 class="text-center text-primary font-weight-bold mb-4">Dịch vụ <span class="font-weight-bold">nha khoa</span></h2>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card shadow-sm h-100">
                    <a href="{{ service.url }}" class="img-dv">
                        <img src="{{ service.image }}" class="card-img-top img-fluid rounded" alt="{{ service.name }}">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{{ service.url }}" class="text-dark font-weight-bold">{{ service.name }}</a>
                        </h5>
                        <form method="POST" action="{% url 'add_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="service_name" value="{{ service.name }}">
                            <button type="submit" class="btn btn-primary">Thêm vào giỏ hàng</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %} 
    {% include "home/includes/footer.html" %}
{% endblock %}
