{% extends "home/master.html" %}
{% load static %}

{% comment %} {% block navbar %}
    {% include 'home/includes/Navbar.html' %}
{% endblock %} {% endcomment %}

{% block menu-inner %}
    {% include 'home/includes/left_menu_co.html' %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4 text-center" style="font-weight: bold; color: #797CFF;">Quản Lý Dịch Vụ - Nha Khoa ABC</h1>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Quản Lý Dịch Vụ Nha Khoa</a>
            <div class="d-flex">
                {% comment %} <button class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#addDepartmentModal">
                    <i class="fas fa-plus"></i> Thêm Khoa Mới
                </button> {% endcomment %}
                <button class="btn btn-light" id="viewServicesBtn">
                    <i class="fas fa-list"></i> Xem Danh Sách Dịch Vụ
                </button>
            </div>
        </div>
    </nav>

    <div class="container my-4">
        <!-- Phần quản lý -->
        <div id="managementSection">
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="input-group">
                        <select class="form-select" style="max-width: 200px;">
                            <option value="">Tất cả các khoa</option>
                            <option>Khoa Răng</option>
                            <option>Khoa Chỉnh nha</option>
                            <option>Khoa Phục hình răng</option>
                            <option>Khoa Nha chu</option>
                            <option>Khoa Nội nha</option>
                            <option>Khoa Khám tổng quát</option>
                            <option>Khoa Chẩn đoán hình ảnh</option>
                            <option>Khoa Tư vấn chăm sóc răng miệng</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Tìm kiếm dịch vụ...">
                        <button class="btn btn-primary">
                            <i class="fas fa-search"></i> Tìm
                        </button>
                    </div>
                </div>
                <div class="col-md-4 text-end">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addServiceModal">
                        <i class="fas fa-plus"></i> Thêm Dịch Vụ Mới
                    </button>
                </div>
            </div>

            <!-- Bảng dịch vụ -->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên Dịch Vụ</th>
                                    <th>Giá Dịch Vụ</th>
                                    <th>Thời Gian Thực Hiện</th>
                                    <th>Thông tin chi tiết</th>
                                    <th>Trạng Thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for service in services %}
                                <tr>
                                    <td>{{service.id}}</td>
                                    <td>{{service.name}}</td>
                                    <td>{{service.price}}</td>
                                    <td>{{service.time}}</td>
                                    <td>{{service.info}}</td>
                                    <td>
                                        <span class="badge {% if service.is_active %}bg-success{% else %}bg-danger{% endif %}">
                                            {% if service.is_active %}
                                                Đang hoạt động
                                            {% else %}
                                                Không hoạt động
                                            {% endif %}
                                        </span>
                                    </td>
                                    
                                    <td>
                                        <!-- Nút Chỉnh Sửa -->
                                         {% comment %} <button class="btn btn-sm btn-primary mb-1" data-bs-toggle="modal" onclick="openEditModal({{ service.id }})">
                                            <i class="fas fa-edit"></i>
                                        </button>  {% endcomment %}

                                        <!-- Nút Xóa (Kích hoạt Modal Xác Nhận) -->
                                        {% comment %} <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ service.id }}">
                                            <i class="fas fa-trash"></i>
                                        </button> {% endcomment %}


                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                              <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                              <!-- Dropdown Item for Edit -->
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="openEditModal({{ service.id }})">
                                                    <i class="bx bx-edit-alt me-1"></i> Edit
                                                </a>

                                                <!-- Dropdown Item for Delete -->
                                                <a class="dropdown-item" href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ service.id }}">
                                                    <i class="bx bx-trash me-1"></i> Delete
                                                </a>
                                            </div>
                                          </div>

                                        <!-- Modal xác nhận xóa -->
                                        <div class="modal fade" id="confirmDeleteModal{{ service.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title fw-bold" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Bạn có chắc chắn muốn xóa dịch vụ "{{ service.name }}" không?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Hủy</button>
                                                        <form action="{% url 'xoadichvu' service.id %}" method="post" style="display:inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Phần hiển thị dịch vụ -->
        <div id="servicesSection" style="display: none;">
            <div class="card mb-4 service-card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Khoa Răng</h3>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <h5 class="mb-1">Nhổ răng</h5>
                            <p class="mb-0">Bảo hành 7 ngày để xử lý các biến chứng</p>
                        </div>
                        <div class="list-group-item">
                            <h5 class="mb-1">Hàn răng</h5>
                            <p class="mb-0">Bảo hành 6 tháng với trường hợp răng trám bị bong tróc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Dich Vụ Mới -->
    <div class="modal fade" id="addServiceModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm Dịch Vụ Mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'quanlidichvu' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">Tên Dịch Vụ</label>
                            <input type="text" class="form-control" name='name' required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Giá tiền</label>
                            <input type="number" class="form-control" name='price' required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mô tả</label>
                            <textarea class="form-control" rows="3" name='info' required></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Hình ảnh</label>
                            <input type="file" class="form-control" name='image'>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Thời gian</label>
                            <input type="text" class="form-control" name='time' required>
                        </div>
                        <div class="modal-footer mt-3">
                            <button class="btn btn-secondary mx-3" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
<!-- Modal Chỉnh Sửa Dịch Vụ --> 
<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editServiceModalLabel">Chỉnh Sửa Dịch Vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editServiceForm" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="service_id" id="service_id">
                    <div class="mb-3">
                        <label class="form-label">Tên Dịch Vụ</label>
                        <input type="text" class="form-control" name="name" id="service_name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Giá tiền</label>
                        <input type="number" class="form-control" name="price" id="service_price" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mô tả</label>
                        <textarea class="form-control" rows="3" name="info" id="service_info" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Hình ảnh</label>
                        <input type="file" class="form-control" name="image">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Thời gian</label>
                        <input type="text" class="form-control" name="time" id="service_time" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- Scripts -->
    <script>
        
        const viewServicesBtn = document.getElementById('viewServicesBtn');
        const managementSection = document.getElementById('managementSection');
        const servicesSection = document.getElementById('servicesSection');

        let isShowingServices = false;

        viewServicesBtn.addEventListener('click', () => {
            if (!isShowingServices) {
                managementSection.style.display = 'none';
                servicesSection.style.display = 'block';
                viewServicesBtn.innerHTML = '<i class="fas fa-table"></i> Xem Bảng Quản Lý';
                isShowingServices = true;
            } else {
                managementSection.style.display = 'block';
                servicesSection.style.display = 'none';
                viewServicesBtn.innerHTML = '<i class="fas fa-list"></i> Xem Danh Sách Dịch Vụ';
                isShowingServices = false;
            }
        });

        // Hàm để mở modal và điền dữ liệu vào form
        function openEditModal(serviceId) {
            // Gọi API để lấy thông tin dịch vụ
            fetch(`/suadichvu/${serviceId}/`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok.');
                    }
                    return response.json(); // Chuyển đổi phản hồi thành JSON
                })
                .then(data => {
                    // Điền dữ liệu vào form
                    document.getElementById('service_id').value = data.id;
                    document.getElementById('service_name').value = data.name;
                    document.getElementById('service_price').value = data.price;
                    document.getElementById('service_info').value = data.info;
                    document.getElementById('service_time').value = data.time;
        
                    // Mở modal
                    const editServiceModal = new bootstrap.Modal(document.getElementById('editServiceModal'));
                    editServiceModal.show();
                })
                .catch(error => console.error('Error fetching service data:', error));
        }
        
        // Cập nhật form submit để gửi dữ liệu đến view suadichvu
        document.getElementById('editServiceForm').onsubmit = function(event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của form

            const formData = new FormData(this);
            const serviceId = document.getElementById('service_id').value;
        
            fetch(`/suadichvu/${serviceId}/`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') // Lấy CSRF token từ cookie
                },
                credentials: 'include' // Đảm bảo gửi cookie
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Chuyển đổi phản hồi thành JSON
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                if (data.success) {
                    // Nếu thành công, làm mới trang hoặc cập nhật danh sách dịch vụ
                    location.reload(); // Hoặc bạn có thể cập nhật danh sách dịch vụ mà không cần tải lại trang
                } else {
                    console.error('Error updating service:', data.errors);
                    // Xử lý lỗi nếu có
                    alert('Có lỗi xảy ra: ' + JSON.stringify(data.errors));
                }
            })
            .catch(error => console.error('Error:', error));
        };
        
        // Hàm để lấy CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

</div>
{% endblock %}