asgiref==3.8.1
Django==5.0.11
django-mssql-backend==2.8.1
greenlet==3.1.1
mssql==1.0.1
mssql-django==1.5
mysqlclient==2.2.7
pillow==11.1.0
psycopg2==2.9.10
pyodbc==5.2.0
pytz==2024.2
SQLAlchemy==2.0.37
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
