{% load static %}
<style>
  .footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: left;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-column {
    flex: 1;
    margin: 10px;
    text-align: left;
  }
  .footer-column.small {
    flex: 0.5;
  }
  .footer-logo span {
    font-size: 20px;
    font-weight: bold;
    color: #f1c40f;
  }
  .footer ul {
    list-style: none;
    padding: 0;
  }
  .footer ul li {
    margin: 8px 0;
  }
  .footer-social {
    text-align: left;
  }
  .footer-social a {
    color: #f1c40f;
    margin: 0 10px;
    font-size: 20px;
  }
  .footer-bottom {
    margin-top: 20px;
    text-align: left;
  }
  
</style>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <div class="footer-logo">
        <span>SUNDENTAL</span>
      </div>
      <ul>
        <li>Số 123, Đường Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh</li>
        <li>Email: <a href="mailto:SunDental_support@gmail.com">SunDental_support@gmail.com</a></li>
        <li>SĐT HOTLINE: <a href="tel:0909123456">0909 123 456</a></li>
        <li>CSKH: <a href="tel:0933456789">0933 456 789</a></li>
        <li>Liên hệ hợp tác: <a href="tel:0888789123">0888 789 123</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>CÁC CHI NHÁNH</h4>
      <ul>
        <li>Chi nhánh Hà Nội: Số 8 Nguyễn Văn Tuyết, Quận Đống Đa, Hà Nội</li>
        <li>Chi nhánh Bình Định: 309 Trần Phú, TT. Bình Định, An Nhơn, Bình Định</li>
        <li>Chi nhánh TP.HCM: Số 123, Đường Nguyễn Huệ, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh</li>
      </ul>
    </div>
    <div class="footer-column small">
      <h4>Thông Tin</h4>
      <ul>
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#">Giới Thiệu</a></li>
        <li><a href="#">Dịch Vụ</a></li>
        <li><a href="#">Liên Hệ</a></li>
      </ul>
    </div>
    <div class="footer-column small">
      <h4>Hỗ Trợ </h4>
      <ul>
        <li><a href="#">Trợ Giúp</a></li>
        <li><a href="#">Câu Hỏi Thường Gặp</a></li>
        <li><a href="#">Vận Chuyển</a></li>
        <li><a href="#">Theo Dõi Đơn Hàng</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
</footer>
