{% load static %}
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> {% endcomment %}
<footer style="background-color: #696CFF; color: #56E8E1;" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-warning">SUNDENTAL </h5>
        <ul class="list-unstyled">
          <li>Địa chỉ: Số 2, đường Võ Oanh, P.25, Q. Bình Thạnh, TP.HCM</li>
          <li>Email: <a href="mailto:SunDental_support@gmail.com" class="text-warning">SunDental_support@gmail.com</a></li>
          <li>HOTLINE: <a href="tel:0909123456" class="text-warning">0909 123 456</a></li>
          <li>CSKH: <a href="tel:0933456789" class="text-warning">0933 456 789</a></li>
          <li>Liên hệ hợp tác: <a href="tel:0888789123" class="text-warning">0888 789 123</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-warning">CÁC CHI NHÁNH</h5>
        <ul class="list-unstyled">
          <li>Chi nhánh 2: Số 10, đường số 12, Khu phố 3, P. An Khánh, TP. Thủ Đức</li>
          <li>Chi nhánh 3: Số 70, đường Tô Ký, P. Tân Chánh Hiệp, Q.12, TP.HCM</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="text-warning">Thông Tin</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Trang Chủ</a></li>
          <li><a href="#" class="text-white">Giới Thiệu</a></li>
          <li><a href="#" class="text-white">Dịch Vụ</a></li>
          <li><a href="#" class="text-white">Liên Hệ</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="text-warning">Hỗ Trợ</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Trợ Giúp</a></li>
          <li><a href="#" class="text-white">Câu Hỏi Thường Gặp</a></li>
          <li><a href="#" class="text-white">Vận Chuyển</a></li>
          <li><a href="#" class="text-white">Theo Dõi Đơn Hàng</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">
      <a href="#" class="text-warning mx-2"><i class="fa fa-facebook"></i></a>
      <a href="#" class="text-warning mx-2"><i class="fa fa-twitter"></i></a>
      <a href="#" class="text-warning mx-2"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="text-warning mx-2"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
