{% extends "../master.html" %}
{% load static %}

{% block menu-inner %}
{% include "../includes/left_menu.html" %}
{% endblock menu-inner %}

{% block navbar %}
{% include "../includes/Navbar.html" %}
{% endblock navbar %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        {% if services %}
            {% for service in services %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0 h-100">
                        <div class="d-flex justify-content-center mt-3">
                            <img src="{{ service.image.url }}" class="card-img-top rounded" alt="{{ service.name }}" style="width: 100%; max-height: 200px; object-fit: cover;">
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title font-weight-bold">{{ service.name }}</h5>
                            <p class="card-text text-muted">Giá: <strong class="text-danger">{{ service.price }} VNĐ</strong></p>
                        </div>
                        <div class="card-footer bg-white border-0 text-center pb-3">
                            <button class="btn btn-primary px-4">Xem chi tiết</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Không có dịch vụ nào!</p>
        {% endif %}
    </div>
</div>

{% endblock content %}

{% block footer %}
{% include "../includes/Footer.html" %}
{% endblock footer %}