{% load static %}
 
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="{% url 'clinic_owner_dashboard'%}" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img src="{% static 'home/assets/img/favicon/logo.png' %}" alt="Logo" style="width: 70px; height: auto" />
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-1">SunDental</span>
    </a>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="{% url 'hosophongkham'%}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-clinic"></i>
        <div class="text-truncate">Quản lý phòng khám</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'quanlichinhanh'%}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-map"></i>
        <div class="text-truncate">Quản lý chi nhánh</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'quanlinhanvien'%}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-group"></i>
        <div class="text-truncate">Quản lý nhân viên</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'quanlidichvu'%}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="text-truncate">Quản lý dịch vụ</div>
      </a>
    </li>
    <li class="menu-item">
      <a href="{% url 'quanlithongtinbenhnhan'%}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-layout"></i>
        <div class="text-truncate">Quản lý thông tin bệnh nhân</div>
      </a>
    </li>

  </ul>
</aside>